# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[/**/Migrations/*.cs]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
dotnet_analyzer_diagnostic.category-CodeQuality.severity = none

[/**/EF/Migrations/*.cs]]
generated_code = true
dotnet_analyzer_diagnostic.severity = none
dotnet_analyzer_diagnostic.category-CodeQuality.severity = none
